/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Fundo */
body {
    background: linear-gradient(135deg, #8e15ff, #f3c6ff);
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background-color: #5a0fb3;
    color: white;
    text-align: center;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 16px;
    margin-top: 5px;
}

/* Conteúdo */
main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

/* Notícia */
.noticia {
    background-color: white;
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* Título da notícia */
.noticia h2 {
    color: #5a0fb3;
    margin-bottom: 10px;
}

/* Data */
.data {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Imagem */
.noticia img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 12px;
}

/* Texto */
.noticia p {
    color: #333;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: justify;
}

/* Rodapé */
footer {
    background-color: #5a0fb3;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
